{% extends 'common/layout_main.html' %}
{% block content %}
<div class="dashboard-wrapper">
            <div class="container-fluid  dashboard-content">
                <!-- ============================================================== -->
                <!-- pageheader -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-header">
                            <h2 class="pageheader-title">同學意見 </h2>
                            <p class="pageheader-text"></p>
                            <div class="page-breadcrumb">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Tables</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">General Tables</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- ============================================================== -->
                <!-- end pageheader -->
                <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <form class="form-inline wrap_search">
                                <div class="row" style="padding: 0px 15px; margin-bottom:30px;">
                                    <div class="form-group">
                                        <select name="status" class="form-control inline">
                                            <option value="-1">请选择状态</option>
                                            {% for tmp_key in status_mapping %}
                                            <option value="{{ tmp_key }}" {% if tmp_key== search_con['status'] %} selected {% endif %}>{{ status_mapping[tmp_key] }}</option>
                                            {% endfor %}

                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="text" name="mix_kw" placeholder="姓名｜意見內容"
                                                   class="form-control" value="{{search_con.mix_kw}}" style="
                                        margin-left: 10px;">
                                            <input type="hidden" name="p" value="{{search_con.p}}">
                                            <input type="hidden" name="qid" value="{{question.id}}">
                                            <span class="input-group-btn">
                                            <button type="button" class="btn btn-primary search">
                                                <i class="fa fa-search"></i> 搜索
                                            </button>
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>

                    </div>

                <div class="card mb-2" style="margin-bottom: 20px !important;">
                    <div class="card-header" id="headingEight">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseEight"
                                    aria-expanded="true" aria-controls="collapseEight">
                                <span class="fas mr-3 fa-angle-up"></span>問題標及內容
                            </button>
                        </h5>
                    </div>
                    <div id="collapseEight" class="collapse show" aria-labelledby="headingEight"
                         data-parent="#accordion3" style="">
                        <div class="card-body">
                            <h3>{{question.title}}</h3>
                            <hr>
                            {{question.content}}
                        </div>
                    </div>
                </div>

                    <div class="row">

                        <!-- ============================================================== -->
                        <!-- striped table -->
                        <!-- ============================================================== -->
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="card">
                                <h5 class="card-header">同學意見列表</h5>
                                <div class="card-body">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th scope="col">序號</th>
                                                <th scope="col">姓名</th>
                                                <th scope="col">內容</th>
                                                <th scope="col">操作</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% if comment_list %}
                                            {% for item in comment_list %}
                                            <tr>
                                                <td>{{ item.id }}</td>
                                                <td>{{ item.nickname }}</td>
                                                <td>{{ item.content }}</td>

                                                <td class="action">



                                                    {% if item.status == 1 %}



                                                    <a class="m-l remove href="javascript:void(0);" cid="{{ item.id }}">
                                                        <i class="fa fa-trash"></i>
                                                    </a>

                                                    {% else %}

                                                    <a class="m-l recover href="javascript:void(0);" cid="{{ item.id }}">
                                                        <i class="fa fa-undo"></i>
                                                    </a>
                                                    {% endif %}

                                                </td>

                                            </tr>
                                            {% endfor %}
                                            {% else %}
                                            <tr><td colspan="5">暫無數據</td></tr>

                                            {% endif %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- ============================================================== -->
                        <!-- end striped table -->
                        <!-- ============================================================== -->

                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    {% include "common/pagenation.html" %}
                            </div>
                        </div>
                    </div>

            </div>
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <div class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
Copyright © 2019 北京大學｜卡數洞Kashudong. 版權所有
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                            <div class="text-md-right footer-links d-none d-sm-block">
                                <a href="javascript: void(0);">About</a>
                                <a href="javascript: void(0);">Support</a>
                                <a href="javascript: void(0);">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end footer -->
            <!-- ============================================================== -->
        </div></div>
{% endblock %}

{%block css %}
<link rel="stylesheet" href="{{ buildStaticUrl('/libs/css/account/style.css') }}">
{% endblock %}

{% block js %}
    <script src="{{ buildStaticUrl('/libs/js/comment/index.js') }}"></script>
{% endblock %}


