{% extends 'common/layout_main.html' %}
{% block content %}
<div class="dashboard-wrapper">
    <div class="container-fluid dashboard-content">
        <div class="row">
            <div class="col-xl-10">
                <!-- ============================================================== -->
                <!-- pageheader  -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-header" id="top">
                            <h2 class="pageheader-title">管理員組及權限設置</h2>
                            <!--<p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce-->
                            <!--sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p>-->
                            <div class="page-breadcrumb">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a>
                                        </li>
                                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">UI Elements</a>
                                        </li>
                                        <li class="breadcrumb-item active" aria-current="page">Cards</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end pageheader  -->
                <!-- ============================================================== -->

                <!--只限超級使用者使用-->
                <div class="{% if current_user and current_user.group_id != 0 %} display-none {% endif %}">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <form class="form-inline wrap_search">
                                <div class="row" style="padding: 0px 15px;">
                                    <div class="form-group">
                                        <select name="status" class="form-control inline">
                                            <option value="-1">请选择状态</option>
                                            {% for tmp_key in status_mapping %}
                                            <option value="{{ tmp_key }}" {% if tmp_key== search_con[
                                            'status'] %} selected {% endif %}>{{ status_mapping[tmp_key] }}</option>
                                            {% endfor %}

                                        </select>
                                    </div>


                                </div>
                            </form>

                        </div>

                    </div>

                    <div class="row" style="margin-bottom: 30px; margin-top: 30px;">
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                            <a href="/account/group-edit" class="btn btn-primary">新增用戶組</a>
                        </div>
                    </div>

                </div>


                <div class="row">
                    <!--<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">-->
                    <!--<div class="section-block" id="cardaction">-->
                    <!--<h3 class="section-title">Card Actions</h3>-->
                    <!--<p>Add an optional header and/or footer within a card and also add action.</p>-->
                    <!--</div>-->
                    <!--</div>-->

                    {% if group_list %}
                    {% for item in group_list %}
                    <!--設置當前用戶只能使用所屬用戶組之功能-->
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 {% if current_user.group_id != 0 %} {% if (current_user and item.id != current_user.group_id) %} display-none {% endif %}{% endif %}">
                        <div class="card">
                            <div class="card-header d-flex">
                                <h4 class="card-header-title">{{ item.name }} </h4>
                                <!--<select class="custom-select ml-auto w-auto">-->
                                <!--<option selected>Select</option>-->
                                <!--<option value="1">One</option>-->
                                <!--<option value="2">Two</option>-->
                                <!--<option value="3">Three</option>-->
                                <!--</select>-->
                                <a href="/account/set?user_group_id={{item.id}}" class="w-auto ml-auto {% if current_user and current_user.group_id != 0 %} display-none {% endif %}"
                                   style="margin-top: 8px;"><span class="fas fa-plus "></span></a>
                            </div>

                            <div class="card-body">
                                <p class="card-text">{{ item.summary }}</p>
                                <input type="hidden" id="user_group_id" value="{{ item.id }}">
                            </div>
                            <div class="card-footer p-0 text-center d-flex justify-content-center ">
                                <!--<div class="card-footer-item card-footer-item-bordered">-->
                                <!--<a href="#" class="card-link">添加</a>-->
                                <!--</div>-->
                                <div class="card-footer-item card-footer-item-bordered">
                                    <a href="/account/group-question?user_group_id={{item.id}}"
                                       class="card-link">所有問題</a>
                                </div>

                                <div class="card-footer-item card-footer-item-bordered">
                                    <a href="/account/group-user-info?user_group_id={{item.id}}"
                                       class="card-link">編輯</a>
                                </div>

                                {% if item.status == 1 %}

                                <!--一般管理員不能刪除自己的用戶組-->
                                <div class="card-footer-item card-footer-item-bordered  {% if current_user and current_user.group_id != 0 %} display-none {% endif %}">
                                    <a href="javascript:void(0);" class="card-link remove"
                                       user_group_id="{{ item.id }}">刪除</a>
                                </div>
                                {% else %}
                                <div class="card-footer-item card-footer-item-bordered {% if current_user and current_user.group_id != 0 %} display-none {% endif %}">
                                    <a href="javascript:void(0);" class="card-link recover"
                                       user_group_id="{{ item.id }}">復原</a>
                                </div>
                                {% endif %}


                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}


                </div>
            </div>

        </div>
    </div>
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <div class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    Copyright © 2018 Concept. All rights reserved. Dashboard by <a
                        href="https://colorlib.com/wp/">Colorlib</a>.
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <div class="text-md-right footer-links d-none d-sm-block">
                        <a href="javascript: void(0);">About</a>
                        <a href="javascript: void(0);">Support</a>
                        <a href="javascript: void(0);">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end footer -->
    <!-- ============================================================== -->
</div>
{% endblock %}

{%block css %}
<link rel="stylesheet" href="{{ buildStaticUrl('/libs/css/account/style.css') }}">
{% endblock %}

{% block js %}
<script src="{{ buildStaticUrl('/libs/js/account/group-set.js') }}"></script>
{% endblock %}


