{% extends 'common/layout_main.html' %}
{% block content %}
<div class="dashboard-wrapper">
            <div class="container-fluid  dashboard-content">
                <!-- ============================================================== -->
                <!-- pageheader -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-header">
                            <h2 class="pageheader-title">{% if user_group_info %} {{ user_group_info.name }} {% endif %}用戶問題</h2>
                            <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
                            <div class="page-breadcrumb">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Tables</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Data Tables</li>

                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row search-contain">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <form class="form-inline wrap_search">
                                <div class="row" style="padding: 0px 15px;">

                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="text" name="mix_kw" placeholder="發問人｜標題"
                                                   class="form-control" value="{{search_con.mix_kw}}">
                                            <input type="hidden" name="p" value="{{search_con.p}}">
                                            <input type="hidden" name="user_group_id" value="{{user_group_info.id}}">
                                            <span class="input-group-btn">
                                            <button type="button" class="btn btn-primary search">
                                                <i class="fa fa-search"></i> 搜索
                                            </button>
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>

                    </div>
                <!-- ============================================================== -->
                <!-- end pageheader -->
                <!-- ============================================================== -->
                <div class="row">
                    <!-- ============================================================== -->
                    <!-- basic table  -->
                    <!-- ============================================================== -->
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="card">
                            <h5 class="card-header">問題列表</h5>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered first">
                                        <thead>
                                            <tr>
                                                <th>發問人</th>
                                                <th>提問日期</th>
                                                <th>最後更新時間</th>
                                                <th>問題標題</th>
                                                <th>回覆總數</th>
                                                <th>意見總數</th>
                                                <th>操作</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% if list %}
                                        {% for item in list %}
                                            <tr>
                                                <td>{{item.nickname}}</td>

                                                <td>{{item.created_time}}</td>
                                                <td>{{item.updated_time}}</td>
                                                <td>{{item.title}}</td>
                                                <td>{{item.comment_count}}</td>
                                                <td>{{item.discuss_count}} {% if item.discuss_count !=0 %}<a class="fas fa-info-circle" href="{{ buildUrl('/comment/index') }}?qid={{item.id}}" style="padding-left:5px; float:right;"> 詳情</a>{% endif %}</td>
                                                <td class="action">
                                                    <a class="m-l" href="{{ buildUrl('/question/reply') }}?id={{ item.id }}">
                                                        <i class="fas fa-arrow-left"></i> 回復
                                                    </a>

                                                    <a class="m-l" href="{{ buildUrl('/question/all-reply') }}?id={{ item.id }}">
                                                        <i class="fa fa-edit"></i> 編輯
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        {% else %}
                                        <tr>
                                            <td colspan="7">暫無數據</td>
                                        </tr>
                                        {% endif %}

                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>發問人</th>
                                                <th>提問日期</th>
                                                <th>最後更新時間</th>
                                                <th>問題標題</th>
                                                <th>回覆總數</th>
                                                <th>意見總數</th>
                                                <th>操作</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end basic table  -->
                    <!-- ============================================================== -->
                    <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    {% include "common/pagenation.html" %}
                            </div>
                        </div>
                </div>

            </div>
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <div class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
Copyright © 2019 北京大學｜卡數洞Kashudong. 版權所有
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                            <div class="text-md-right footer-links d-none d-sm-block">
                                <a href="javascript: void(0);">About</a>
                                <a href="javascript: void(0);">Support</a>
                                <a href="javascript: void(0);">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end footer -->
            <!-- ============================================================== -->
        </div>
{% endblock %}

{%block css %}
<link rel="stylesheet" href="{{ buildStaticUrl('/libs/css/question/style.css') }}">
<link rel="stylesheet" href="{{ buildStaticUrl('/libs/plugins/select2/select2.min.css') }}">

{% endblock %}

{% block js %}
<script src="{{ buildStaticUrl('/libs/js/account/group-question.js') }}"></script>
<script src="{{ buildStaticUrl('/libs/plugins/select2/select2.pinyin.js') }}"></script>
<script src="{{ buildStaticUrl('/libs/plugins/select2/zh-CN.js') }}"></script>
<script src="{{ buildStaticUrl('/libs/plugins/select2/pinyin.core.js') }}"></script>
{% endblock %}


