{% extends 'common/layout_main.html' %}
{% block content %}
<div class="dashboard-wrapper">
    <div class="container-fluid dashboard-content">
        <div class="row">
            <div class="col-xl-10">
                <!-- ============================================================== -->
                <!-- pageheader  -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-header" id="top">
                            <h2 class="pageheader-title">問題分類設置</h2>
                            <div class="page-breadcrumb">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a>
                                        </li>
                                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Forms</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Form Elements</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end pageheader  -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- basic form  -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

                        <div class="card">
                            <h5 class="card-header">問題分類設置</h5>
                            <div class="card-body">
                                <div class="food_cat_set_wrap" role="form">

                                    <div class="form-group">
                                        <label for="cat_name" class="col-form-label">分類名稱</label>
                                        <input id="cat_name" type="text" class="form-control" value="{{cat_info.name}}">
                                    </div>

                                    <div class="form-group">
                                        <label for="weight" class="col-form-label">分類權重</label>
                                        <input id="weight" type="text" class="form-control"
                                               value="{% if cat_info and cat_info.weight > 0 %}{{cat_info.weight}}{% else %}1{% endif %}">
                                    </div>

                                    <div class="form-group">
                                        <input id="cat_id" type="hidden" class="form-control" value="{{cat_info.id}}">
                                    </div>
                                    <a class="btn btn-primary save" style="color: #ffffff;">儲存並更新</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end basic form  -->
                <!-- ============================================================== -->
            </div>

        </div>
    </div>
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <div class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
Copyright © 2019 北京大學｜卡數洞Kashudong. 版權所有
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <div class="text-md-right footer-links d-none d-sm-block">
                        <a href="javascript: void(0);">About</a>
                        <a href="javascript: void(0);">Support</a>
                        <a href="javascript: void(0);">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end footer -->
    <!-- ============================================================== -->
</div>

{% endblock %}

{% block js %}
    <script src="{{ buildStaticUrl('/libs/js/question/cat-set.js') }}"></script>
{% endblock %}